<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The GeneralCar Shop</title>
    <link rel="stylesheet" href="./public/address.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="" id="navbar__logo">GENERAL CAR SHOP</a>
            <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
              <li class="navbar__item">
                <a href="/index" class="navbar__links">Home</a>
              </li> 
              <li class="navbar__item">
                <a href="" class="navbar__links">About Us</a>
              </li>
              <li class="navbar__item">
                <a href="/car" class="navbar__links">New Cars</a>
              </li> 
              <li class="navbar__item">
                <a href="#" class="navbar__links">Contact </a>
              </li>
              {{!-- <li class="navbar__btn">
                <a href="sign/signin.html" class="button">Sign In</a>
              </li> --}}
            </ul>
        </div>
    </nav>

    <!--contact section-->
<section class="contact">
  <div class="content">
    <h2>Contact Us</h2>
    <p>We're the Finland's leading car supermarket!</p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Address</h3>
          <p>General car shop <br> 90570 Oulu<br>Finland</p>
        </div>

      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Phone</h3>
          <p>+358-00-00</p>
        </div>

      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Email</h3>
          <p>group11@generalcarshop.com</p>
        </div>

      </div>
    </div>
      <div class="contactForm">
        <form action="">
          <h2>Send Message</h2>
          <div class="inputBox">
            <input type="text" name="" required="required"> 
            <span>Full Name</span>
          </div>
          <div class="inputBox">
            <input type="text" name="" required="required"> 
            <span>Email</span>
          </div>
          <div class="inputBox">
           <textarea required="required"></textarea>
            <span>Type your message</span>
          </div>
          <div class="inputBox">
            <input type="submit" name="" value="Send">
          </div>
        </form>
      
    </div>
  </div>
</section>

<!--footer section-->
<div class="footer__container">
  <div class="footer__links">
    <div class="footer__link--wrapper">
      <div class="footer__link--items">
        <h2>About Us</h2>
        <a href="">Our Company</a>
        <a href="">COVID-19 FAQs</a>
        <a href="">Latest News</a>
        <a href="">Carrers</a>
      </div>
      <div class="footer__link--items">
        <h2>Vehicles</h2>
        <a href="">hybrid cars</a>
        <a href="">TRD Pro Series</a>
        <a href="">Trucks</a>
        <a href="">Cars</a>
      </div>
    </div>
    <div class="footer__link--wrapper">
      <div class="footer__link--items">
        <h2>Help</h2>
        <a href="">Contact Us</a>
        <a href="">Accessibility</a>
        <a href="">FAQ</a>
      </div>
      <div class="footer__link--items">
        <h2>Helpful Links</h2>
        <a href="">Deals & Incentives</a><a href="">Connected services</a>
        <a href="">Car tips & advice</a><a href="">Car Safety Sense</a>
      </div>
    </div>
  </div>
  <div class="social__media">
    <div class="social__media--wrap">
      <div class="footer__logo">
        <a href="" id="footer__logo"><i class="fas fa-gem">GENERAL CAR SHOP</i></a>
      </div>
      <p class="website__rights">@General Car Shop 2021. All right Reserved</p>
      <div class="social__icons">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/watch?v=Efj0mh_gL_Q" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>

        </a>
      </div>
    </div>
  </div>
</div>
    <script src="./public/app.js"></script>
</body>
</html>