<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="./public/productdetails.css">
    </head>
    <body>
       <nav class="navbar">
        <div class="navbar__container">
            <a href="" id="navbar__logo">GENERAL CAR SHOP</a>
            <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
              <li class="navbar__item">
                <a href="/index" class="navbar__links">Home</a>
              </li> 
              <li class="navbar__item">
                <a href="" class="navbar__links">About Us</a>
              </li>
              <li class="navbar__item">
                <a href="/car" class="navbar__links">New Cars</a>
              </li> 
              <li class="navbar__item">
                <a href="#" class="navbar__links">Contact </a>
              </li>
              {{!-- <li class="navbar__btn">
                <a href="sign/signin.html" class="button">Sign In</a>
              </li> --}}
            </ul>
        </div>
    </nav>
         <div class="column2">
          <a href="/car"><img src="./public/gallery/car3.jpg" width= "50%"></a>   
                    </div>
           <div class="column2">
        <h1>Mitsubishi Pajero</h1>
        <h4>Price:€15,000</h4>
        <h3>Car information<i class="fa fa-indent"></i></h3>
        <p>-Year model: 2010.<br>
         -Fuel type: Gas
        <br>-Type of transmission:manual
        <br>-Body type:hybrid
        <button type="button"><a href="/order?nameCar=Mitsubishi-Pajero&priceCar=15000">Click here to buy</a> </button>
   </div>
      </div>
    </body>
    
    </html>